@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');


@import url("http://fonts.cdnfonts.com/css/open-sans");

.SignUpForm, .SignInForm {
    animation: fade-in 1s;

}
.SignUpHeader {
    animation: scale-in 1s 1;
}

.UserSignUp {
    animation: vibrate 1s infinite;
}

/* .raised {
  transform: translateY(-287px);
  animation: fade-in 2s;
} */





.Time {
  animation: fade-in 1s;
}



body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: black;
}

.padBottom {
  padding-bottom: 294px
}

.fade-in {
  animation: fade-in 1s;
}





html {
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow: hidden;
}

#root {
  max-height: 100vh;
  max-height: -webkit-fill-available;
  max-height: 99%;
  overflow: hidden;


}
.body {
  max-height: 100vh;
  max-height: -webkit-fill-available;
  max-height: 99%;
  overflow: hidden;
}



html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
/* ::-webkit-scrollbar-corner { background-color: #646464;} */
::-webkit-resizer { background-color: #666;}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes vibrate {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }
  
  @keyframes scale-in {

    0% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
    
  }


